.home {
    position: relative;
    height: 200vh; 
    overflow: hidden;
  }
  
  .home img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    z-index: 2; 
    padding: 20px; 
    box-sizing: border-box; 
  }
  
  .overlay h2 {
    font-size: 36px;
    color: #ffffff;
    margin-bottom: 1rem;
  }
  
  .overlay p {
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 2rem;
  }
  
 .btn {
    font-size: 1rem; 
    background-color: #e1e7e0; 
    color: #262626;
    border: none;
    cursor: pointer;
    font-weight: 700;
    display: inline-block;
    min-width: 200px;
    min-height: 44px;
    text-align: center;
    border-radius: 0;
    padding: 16px 24px;
    position: relative;
    z-index: 5;
  }
  
  .btn::before{
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      transition: all 0.3s ease-in;
      background: #ccdac9; 
      z-index: -1;
      top: 0;
      left: 0;
  }
  
  .btn:hover::before{
      width: 0;
      background: #ccdac9;
  }
  
  .block1{
    padding-left: 24px;
    padding-right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 75vw;
    margin: 80px auto; 
    
  }

  .block1 img{
    width: 100%;
    display: block;
  }

  .index-shop1{
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
  }

  .index-shop-left{
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 2rem;
    text-align: center;
  }

  .index-shop-left p{
    margin-top: 0;
    margin-bottom: 10px;
    color: #303030;
    width: 90%;
  }

  .index-shop-left h2{
    margin-top: 0;
    margin-bottom: 10px;
    letter-spacing: 3px;
    line-height: 1.25;
    margin: 0 0 16px 0;
    font-size: 1.6rem;
  }

  .index-shop-right{
    padding: 1rem;
  }
  .index-shop-right img{
    width: 100%;
    /* object-fit: cover; */
  }

  .index-shop-left .btn{
    width: fit-content;
    margin-top: 1rem;
    margin: auto;
  }

  

  .block2 {
    position: relative;
    width: 100%;
    height: 550px; 
    overflow: hidden;
  }
  
  .block2 video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1; 
  }
  
  .overlay2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    z-index: 2; 
    padding: 20px;
    box-sizing: border-box;
  }
  
  .overlay2 h2 {
    font-size: 36px;
    color: #ffffff;
    margin-bottom: 1rem;
  }
  
  .overlay2 p {
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 2rem;
  }

  
  .mt{
    margin-top: 4rem;
  }


  .block3 {
    display: flex;
    width: 100%;
    height: 100vh; 
    margin-bottom: 2rem;
  }
  
  .block3-left, .block3-right {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .block3-left {
    padding: 20px;
    box-sizing: border-box;
    background-color: #f4f1e3;
    text-align: center;
  }
  
  .block3-right {
    overflow: hidden;
  }
  
  .block3-left .border3-left-container {
    max-width: 60%; 
  }
  
  .block3-left h3, .block3-left h2, .block3-left p {
    margin-bottom: 10px; 
  }
  
  .block3-left h3 {
    font-size: 1.3rem; 
    font-weight: 600;
  }
  
  .block3-left h2 {
    font-size: 1.5rem; 
    font-weight: 600;
  }
  
  .block3-left p {
    font-size: 1rem; 
  }
  .block3 a{
    color: #4c7e47;
  }
  
  .block3-right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  

  .index-shop2{
    max-width: 1280px;
    width: 100%;
    height: 100%;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem auto;
  }

  .index-shop-left2{
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 2rem;
  }

  .index-shop-left2 p{
    margin-top: 0;
    margin-bottom: 10px;
    color: #303030;
    width: 90%;
  }

  .index-shop-left2 h2{
    margin-top: 0;
    margin-bottom: 10px;
    letter-spacing: 3px;
    line-height: 1.25;
    margin: 0 0 16px 0;
    font-size: 1.6rem;
  }

  .index-shop-right2{
    padding: 1rem;
  }
  .index-shop-right2 img{
    width: 100%;
    object-fit: cover;
  }

  .index-shop-left2 .btn{
    width: fit-content;
    margin-top: 1rem;
  }

  

  
  .index-shop3{
    max-width: 1280px;
    width: 100%;
    height: 100%;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 2rem auto;
  }

  .index-shop-left3{
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 2rem;
    text-align: center;
  }

  .index-shop-left3 p{
    margin-top: 0;
    margin-bottom: 10px;
    color: #303030;
    width: 90%;
  }

  .index-shop-left3 h2{
    margin-top: 0;
    margin-bottom: 10px;
    letter-spacing: 3px;
    line-height: 1.25;
    margin: 0 0 16px 0;
    font-size: 1.6rem;
  }

  .index-shop-right3{
    padding: 1rem;
  }
  .index-shop-right3 img{
    width: 100%;
    object-fit: cover;
  }

  .index-shop-left3 .btn{
    width: fit-content;
    margin-top: 1rem;
    margin: 1rem auto;

  }


  /* Media queries for tablet devices */
@media (max-width: 768px) {
  .home {
    height: 100%;
    overflow: hidden;
  }

  .home img {
    width: 100%;
    height: auto;
    position: relative;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.5); /* Optional: semi-transparent background */
    z-index: 1;
  }

  .index-shop1,
  .index-shop2,
  .index-shop3 {
    flex-direction: column;
  }

  .index-shop-left,
  .index-shop-left2,
  .index-shop-left3,
  .index-shop-right,
  .index-shop-right2,
  .index-shop-right3 {
    width: 100%;
  }

  .block3 {
    flex-direction: column;
  }

  .block3-left,
  .block3-right {
    width: 100%;
  }

  .overlay2 {
    padding: 20px;
    text-align: center;
    position: relative;
    z-index: 1;
  }
}

/* Media queries for phone devices */
@media (max-width: 480px) {
  .home {
    height: 100%;
    overflow: hidden;
  }

  .home img {
    width: 100%;
    height: auto;
    position: relative;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }

  .index-shop1,
  .index-shop2,
  .index-shop3 {
    flex-direction: column;
  }

  .index-shop-left,
  .index-shop-left2,
  .index-shop-left3,
  .index-shop-right,
  .index-shop-right2,
  .index-shop-right3 {
    width: 100%;
  }

  .block3 {
    flex-direction: column;
  }

  .block3-left,
  .block3-right {
    width: 100%;
  }

  .overlay2 {
    padding: 10px;
    text-align: center;
    position: relative;
    z-index: 1;
  }
}
