@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cormorant", serif;
}
 body{
  scroll-behavior: smooth;
 }

 body{
  min-height: 100vh;
}
a{
  text-decoration: none;
  color: inherit;
}

.body-shift {
  transform: translateX(-10px);
  transition: transform 0.3s ease-in-out;
}


/* scrollbar */
::-webkit-scrollbar{
  width: 5px;
}


::-webkit-scrollbar-thumb{
  background: #30303057;
  border-radius: 5px;
}
